@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Inter'] text-slate-900;
  }
  h1, h2, h3, .font-heading {
    @apply font-['Montserrat'];
  }
}

@media print {
  /* 1. Sembunyikan semua elemen di body secara default saat mencetak */
  body * {
    visibility: hidden;
  }

  /* 2. Tampilkan HANYA area cetak dan semua elemen di dalamnya */
  .print-container, .print-container * {
    visibility: visible;
  }

  /* 3. Posisikan area cetak di pojok kiri atas halaman cetak */
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}
