@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Inter'] text-slate-900;
  }
  h1, h2, h3, .font-heading {
    @apply font-['Montserrat'];
  }
}

@media print {
  /* 1. Sembunyikan semua elemen di body secara default saat mencetak */
  body * {
    visibility: hidden;
  }

  /* 2. Tampilkan HANYA elemen yang memiliki kelas 'printable-content' dan semua isinya */
  .printable-content, .printable-content * {
    visibility: visible;
  }

  /* 3. Posisikan konten yang akan dicetak di pojok kiri atas halaman */
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important; /* Hilangkan bayangan saat cetak */
    border: none !important; /* Hilangkan border saat cetak */
  }

  /* 4. Pastikan elemen UI lain di dalam modal tetap tersembunyi */
  .no-print {
    visibility: hidden !important;
  }
}
